{% extends "layout.html" %}

{% block title %}
    Student Detail
{% endblock %}

{% block main %}
    <div class="card col-6 p-0">
        <div id="detail_container" class="scrollable_container h-100 p-2">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="fw-bold">Add student details</h1>
    
                <button class="btn btn-dark" style="width: 100px; max-height: 40px;"
                    onclick="add_student_detail()"
                >
                    Add Row
                </button>
            </div>
    
            <form id="detail_form" class="row g-0">
                <ul id="student_detail_list" class="list-group ">
                    <li class="list-group-item" style="background-color: rgb(240, 240, 240);">
                        <div class="row align-items-end">
                            <div class="col-md-2">
                                <label for="detail_academic_year" class="form-label">Academic Year</label>
                                <input id="detail_academic_year" class="form-control">
                            </div>
    
                            <div class="col-md-2">
                                <label for="detail_mark_1" class="form-label">Mark 1</label>
                                <input id="detail_mark_1" class="form-control">
                            </div>
                                
                            <div class="col-md-2">
                                <label for="detail_mark_2" class="form-label">Mark 2</label>
                                <input id="detail_mark_2" class="form-control">
                            </div>
    
                            <div class="col-md-2">
                                <label for="detail_mark_3" class="form-label">Mark 3</label>
                                <input id="detail_mark_3" class="form-control">
                            </div>
    
                            <div class="col-md-2">
                                <label for="detail_remark" class="form-label">Remark</label>
                                <input id="detail_remark" class="form-control">
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        
        <div class="d-flex justify-content-end col-12 p-2">
            <button
                class="btn btn-dark" style="width: 100px; max-height: 40px;"
                onclick="check_submit()"
            >
                Submit
            </button>
        </div>
    </div>

    <div class="modal fade" id="remove_detail_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to remove this detail?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="remove_student_detail()">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
    </div>
{% endblock %}