.table-responsive > .table .table-bordered {
	border: none;
}

.table td, .table th {
	font-size: 14px;
	border-top-width: 0px;
	border: 1px solid;
	border-color: #ebedf2 !important;
	padding: 0 25px !important;
	height: 60px;
	vertical-align: middle !important;
}